<htm>
    <head>
        <title>Inicio</title>
        <link rel="stylesheet" type="text/css" href="styles/menu.css" />
    </head>

    <body>
        <%- include ('menu.ejs') %>
    </body>

    <script src="scripts/menu.js"></script>
</html>